**/modelos
**/matrices_por_medidor
**/matrices_por_bloque
**/matrices_por_bloque_anteriores
**/images
**/matrices_por_fecha_anteriores
**/__pycache__
**/registro_tiempo.txt
**/VALORES_PRUEBA
**/predicciones
**/opencV2
**/predecir_PAD
**/training_data
video_salida.mp4
