version_secuencial/modelos
version_secuencial/matrices_por_medidor
version_secuencial/matrices_por_bloque
version_secuencial/images
version_secuencial/matrices_por_bloque_anteriores
video_salida.mp4
version_secuencial/__pycache__
version_secuencial/registro_tiempo.txt
